[Unit]
Description=Periodically Check for OTA Updates

[Timer]
OnBootSec=3min
OnUnitInactiveSec=@@INTERVAL@@
RandomizedDelaySec=60
Persistent=true

[Install]
WantedBy=timers.target